<!-- homepage Grids section -->
<section></section>

<section class="about-section py-5">
    <div class="container py-lg-5 py-4 HomePageGrids">
        <div class="row justify-content-center">

                                    <div class="col-lg-4 col-md-6">
                <div class="about-single p-3 d-flex justify-content-between">
                    <div class="about-icon mr-3">
                        <i class="fas fa-building" aria-hidden="true"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3">Who we are</h5>
                        <p>We are Liverpool City Region Civic Data Cooperative team working at the University of Liverpool.</p>
                    </div>
                </div>
            </div>

                                    <div class="col-lg-4 col-md-6">
                <div class="about-single p-3 d-flex justify-content-between">
                    <div class="about-icon mr-3">
                        <i class="fas fa-toolsfas fa-database" aria-hidden="true"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3">How we Work</h5>
                        <p>CDC cooperates with various partners across Liverpool City Region, including SMEs.</p>
                    </div>
                </div>
            </div>

                                    <div class="col-lg-4 col-md-6">
                <div class="about-single p-3 d-flex justify-content-between">
                    <div class="about-icon mr-3">
                        <i class="fas fa-industry" aria-hidden="true"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3">What we do</h5>
                        <p>We are making available data related to Healthcare in Liverpool City Region.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section>
  </section>
<!-- //homepage Grids section -->


<!-- homepage about section -->

<section>
  </section>

<section class="w3l-aboutblock pt-4 pb-5">
    <div class="container pb-md-5 pb-sm-4 HPAbout">
        <div class="row">
            <div class="col-lg-6 left-wthree-img mt-lg-0 mt-5 order-lg-first order-last">
                <img class="img-fluid img-responsive" src="assets/images/coop.png" alt=" ">
            </div>
            <div class="col-lg-6 about-right-faq align-self pl-lg-5 mt-xl-4 order-lg-last order-first">
                <h3 class="text-bgs mb-md-3 mb-2">Since <span>2021</span></h3>
                <h3 class="title-style">We have more than <span>100+</span> interesting datasets available</h3>
                <p class="ab-text mt-4 pt-lg-2">Digital Commons project is the project of the Liverpool City Region Civic Data Cooperative team. We are focused on collecting datasets from Liverpool City Region that are mainly related to healthcare.</p>
                <p class="mt-4">Since we have started with the Digital Commons project, we have collected ample helpful data. Our main mission is to share collected datasets with businesses and people across the region.</p>
                <img class="img-fluid mt-md-5 mt-4 img-dark-color" src="assets/images/cdc_logo.png" alt="CDC" style="max-width: 180px; height: auto;">
            </div>
        </div>
    </div>
</section>

<section>
  </section>

<!-- homepage about section -->



<!-- Homepage Services Section -->

<section>
  </section>

<section class="w3l-bottom-grids-6 service-w3l-bg py-5" id="services">

    <style>
    .service-w3l-bg {
        background: url(assets/images/trainstation.jpg);
        background-size: cover;
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: center;
        background-attachment: fixed;
        position: relative;
        z-index: 1;
    }
    </style>
    <div class="container py-md-5 py-4 HomePageServices">
        <div class="title-main text-center mx-auto mb-5" style="max-width:600px;">
            <p class="mt-2 text-white">Our Mission</p>
            <h3 class="title-style text-white">We collect data in the <span>Liverpool</span> city region</h3>
        </div>
        <div class="row pt-md-4 justify-content-center">

                                    <div class="col-lg-4 col-md-6 grids-feature">
                <div class="area-box">
                    <img class="img-fluid" src="assets/images/code.jpg" alt="Code Repos">
                    <h4><a href="catalogue.html" class="title-head">
                    Code Repositories</a></h4>
                    <p>Our algorithms can help process large datasets related to healthcare data sets respecting privacy.</p>
                </div>
            </div>

                                    <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-sm-5 mt-4">
                <div class="area-box active">
                    <img class="img-fluid" src="assets/images/healthcare.jpg" alt="Healthcare Data">
                    <h4><a href="catalogue.html" class="title-head">
                    Healthcare Datasets</a></h4>
                    <p>We collect both real and synthetic datasets such as patient records and similar sources.</p>
                </div>
            </div>

                                    <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-sm-5 mt-4">
                <div class="area-box">
                    <img class="img-fluid" src="assets/images/blog.jpg" alt="Blog Posts">
                    <h4><a href="blog.html" class="title-head">
                    Blog Posts</a></h4>
                    <p>Blog posts are intended to discuss and explain information in our datasets and related issues.</p>
                </div>
            </div>

        </div>
    </div>
</section>

<section>
  </section>

<!-- //HomePage Services Section -->


<!-- HomePage CWP and Stats Section -->

<section>
  </section>

<section class="image-with-content py-5">
    <div class="container py-md-5 py-4 HomePageCWPStats">

                        <div class="row align-items-center">
            <div class="col-lg-6 content-sec-1">
                <h3 class="title-style mb-3">
                    The CDC has experts with experience in processing of <span>healthcare records</span></h3>
                <p>Our team members can help process healthcare data and provide anonymised synthetic datasets following statistical properties of the original.</p>
                <a class="btn btn-style mt-lg-5 mt-4" href="about.html">About Project</a>
            </div>
            <div class="col-lg-6 pl-lg-5 mt-lg-0 mt-5">
                <img src="assets/images/teamdata.jpg" alt="product" class="img-responsive">
            </div>
        </div>

                        <div class="w3-stats mt-5 pt-4">
            <div class="row text-center justify-content-center">

                                                <div class="col-md-3 col-6">
                    <div class="counter">
                        <div class="timer count-title count-number" data-to="100" data-speed="100"></div>
                        <p class="count-text">Datasets</p>
                    </div>
                </div>

                                                <div class="col-md-3 col-6">
                    <div class="counter">
                        <div class="timer count-title count-number" data-to="30" data-speed="30"></div>
                        <p class="count-text">Code Repos</p>
                    </div>
                </div>

                                                <div class="col-md-3 col-6 mt-md-0 mt-4">
                    <div class="counter">
                        <div class="timer count-title count-number" data-to="60" data-speed="60"></div>
                        <p class="count-text">Blog Posts</p>
                    </div>
                </div>

                                                <div class="col-md-3 col-6 mt-md-0 mt-4">
                    <div class="counter border-right-0">
                        <div class="timer count-title count-number" data-to="10" data-speed="10"></div>
                        <p class="count-text">Team Members</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

<section>
  </section>

<!-- //HomePage CWP and Stats Section -->



<!-- HomePage Cover Section -->

<section></section>
